<!doctype html>
<html lang=vi xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: main-fragment(~{:: title}, ~{}, ~{:: main}, ~{})}">

<head>
    <title th:text="${blog.title}">Hướng dẫn tạo tài khoản và sử dụng Chat GPT chỉ với 1 cốc trà đá | Kong's Blog</title>
</head>

<body id="top">
    <main class="main">
        <article class="post-single">
            <header class="post-header">
                <h1 class="post-title" th:text="${blog.title}">Hướng dẫn tạo tài khoản và sử dụng Chat GPT chỉ với 1 cốc trà đá</h1>
                <div class="post-meta"><span th:text="${#temporals.format(blog.publishedAt, 'dd/MM/yyyy')}">01/02/2023</span></div>
            </header>
            <div class="post-content">
                <p th:text="${blog.content}">Dạo này Chat GPT đang rất hot, được thần thành hóa lên quá khiến nhiều người lo sợ nó sẽ mất công việc của mình. Vậy Chat GPT cụ thể là gì, dùng như nào?</p>
            </div>
        </article>
    </main>
</body>

</html>