<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: main-fragment(~{:: title}, ~{}, ~{:: main}, ~{})}">
    <head>
        <title>Search | Kong's Blog</title>
    </head>

    <body class="list" id="top">
        <main class="main">
            <header class="page-header">
                <h1>
                    Search
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="28"
                        height="28"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentcolor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <circle cx="11" cy="11" r="8" />
                        <line x1="21" y1="21" x2="16.65" y2="16.65" />
                    </svg>
                </h1>
                <div class="post-description">Tìm kiếm bài viết</div>
                <div class="post-meta"></div>
            </header>
            <div id="searchbox">
                <input
                    id="searchInput"
                    autofocus
                    placeholder="Tìm kiếm bài viết"
                    type="search"
                    autocomplete="off"
                />
                <ul id="searchResults">
                    <li class="post-entry">
                        <header class="entry-header">
                            Truyền dữ liệu giữa React Components&nbsp;»
                        </header>
                        <a
                            href="blogdetail.html"
                            aria-label="Truyền dữ liệu giữa React Components"
                        ></a>
                    </li>
                    <li class="post-entry">
                        <header class="entry-header">
                            Ref và Reactive trong Vue 3&nbsp;»
                        </header>
                        <a
                            href="blogdetail.html"
                            aria-label="Ref và Reactive trong Vue 3"
                        ></a>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>
