<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: main-fragment(~{:: title}, ~{}, ~{:: main}, ~{})}">

<head>
    <title>Tags | Kong's Blog</title>
</head>

<body class="list" id="top">
    <main class="main">
        <header class="page-header">
            <h1>Tags</h1>
        </header>
        <ul class="terms-tags">
            <li th:each="category : ${categoryList}">
                <a th:href="@{/categories/{name} (name=${category.name})}">
                    <th:block th:text="${category.name}">Fantasy</th:block>
                    <sup><strong><sup th:text="${category.used}">9</sup></strong></sup>
                </a>
            </li>
        </ul>
    </main>
</body>

</html>