<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(~{:: title}, ~{}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>

    <title>AdminLTE 3 | Dashboard</title>
</head>
<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách category
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" id="btn-create">
                        <i class="fas fa-plus"></i> Tạo danh mục
                    </button>
                    <button type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Danh mục</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:with="categoryList = ${page.getContent()}">
                                    <tr th:each="category : ${categoryList}">
                                        <td th:text="${category.id}">
                                            1
                                        </td>
                                        <td th:text="${category.name}">
                                            Java
                                        </td>
                                        <td>
                                            <button class="btn btn-warning"
                                                    th:onclick="|updateCategory(${category.id})|">Sửa
                                            </button>
                                            <button class="btn btn-danger"
                                                    th:onclick="|deleteCategory(${category.id}, ${category.used})|">Xóa
                                            </button>
                                        </td>

                                    </tr>
                                </th:block>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center mt-3" id="pagination">
                                <ul class="pagination mb-0">
                                    <li class="paginate_button page-item previous"
                                        th:classappend="${currentPage == 1 ? 'disabled' : ''}"
                                        id="example2_previous">
                                        <a th:href="@{/admin/categories?page={pageNumber} (pageNumber=${currentPage-1})}"
                                           aria-controls="example2" data-dt-idx="0" tabindex="0"
                                           class="page-link">Previous</a>
                                    </li>
                                    <th:block
                                            th:with="numbers = ${T(com.example.blog.utils.Utils).createList(page.getTotalPages())}">
                                        <li th:each="number : ${numbers}" class="paginate_button page-item"
                                            th:classappend="${number == currentPage ? 'active' : ''}">
                                            <a th:href="@{/admin/categories?page={pageNumber} (pageNumber=${number})}"
                                               aria-controls="example2" data-dt-idx="1" tabindex="0"
                                               class="page-link" th:text="${number}">1</a>
                                        </li>
                                    </th:block>
                                    <li class="paginate_button page-item next"
                                        th:classappend="${currentPage == page.getTotalPages() ? 'disabled' : ''}"
                                        id="example2_next">
                                        <a th:href="@{/admin/categories?page={pageNumber} (pageNumber=${currentPage+1})}"
                                           aria-controls="example2" data-dt-idx="7" tabindex="0"
                                           class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block id="js">
    <script th:inline="javascript">
        // tạo category
        const btnCreate = document.getElementById("btn-create");
        btnCreate.addEventListener("click", async () => {
            try {
                const request = {};
                request.name = window.prompt("Category name:")
                console.log(request);
                if (request.name == "") {
                    toastr.success("Category not null")
                } else {
                    // Gọi API
                    const res = await fetch("/api/v1/admin/categories", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(request)
                    })
                    if (res.status === 201) {
                        toastr.success("Tạo thành công")
                        setTimeout(() => {
                            window.location.href = "/admin/categories";
                        }, 1500)
                    } else {
                        const mes = await res.json()
                        toastr.success(mes.message)
                    }
                }
            } catch (err) {
                console.log(err)
            }
        })
        //cập nhật category
        const updateCategory = async (id) => {
            try {
                const request = {};
                request.name = window.prompt("Edit catefory name:")
                console.log(request);
                if (request.name == "") {
                    toastr.success("Category not null")

                } else {
                    const res = await fetch(`/api/v1/admin/categories/${id}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(request)
                    })
                    if (res.status === 200) {
                        toastr.success("Cập nhật thành công")
                        setTimeout(() => {
                            location.reload();
                        }, 1500)
                    } else {
                        const mes = await res.json()
                        toastr.success(mes.message)
                    }
                }
            } catch (err) {
                console.log(err)
            }
        }


        // xóa category theo id
        const deleteCategory = (id, used) => {
            if (used > 0) {
                toastr.success("Category đang được áp dụng cho blog")
            } else {
                const isConfirm = window.confirm("Bạn muốn xóa không")
                if (isConfirm) {
                    fetch(`/api/v1/admin/categories/${id}`, {
                        method: "DELETE"
                    }).then((res) => {
                        if (res.status === 200) {
                            toastr.success("Xóa thành công")
                            setTimeout(() => {
                                location.reload();
                            }, 1000)
                        }
                    })
                        .catch(err => {
                            console.log(err)
                        })
                }
            }

        }


    </script>


</th:block>
</body>
</html>