<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>AdminLTE 3 | Dashboard</title>

    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>

        <link rel="stylesheet" th:href="@{/admin-lte/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin-lte/dist/css/style.css}">
    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/admin/dashboard}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Blog</a>
                        </li>
                        <li id="newTitle" class="breadcrumb-item active" th:text="${blog.title}">
                            Thực hành làm ứng dụng Meal Finder API
                            với Javascript (Phần 2)
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <button type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </button>
                    <button type="button" class="btn btn-info px-4" th:onclick="|updateBlog(${blog.id})|">
                        Lưu
                    </button>
                    <button type="button" class="btn btn-primary px-4">
                        Preview
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger px-4" th:onclick="|deleteBlog(${blog.id})|">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        <input type="text" class="form-control" id="title"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea id="content"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Mô tả ngắn</label>
                                        <textarea id="description" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select id="status" class="form-control">
                                            <option value="0">
                                                Nháp
                                            </option>
                                            <option value="1">
                                                Công khai
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Danh mục</label>
                                        <div class="select2-purple">
                                            <select class="select2 form-control" multiple="multiple"
                                                    id="category">
                                                <option th:each="cate:${categories}"
                                                        th:text="${cate.name}"
                                                        th:value="${cate.id}">
                                                    Java
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="thumbnail-preview-container mb-3">
                                            <img src="" alt="" id="thumbnail"/>
                                        </div>
                                        <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                                                data-target="#modal-xl">
                                            Chọn hình ảnh
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-xl" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Extra Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script th:src="@{/admin-lte/plugins/select2/js/select2.full.min.js}"></script>

    <script th:inline="javascript">
        const blog = /*[[${blog}]]*/;
        //Initialize Select2 Elements
        $(".select2").select2();

        // Initialize editor
        const easyMDE = new EasyMDE({
            element: document.getElementById("content"),
            spellChecker: false,
            maxHeight: "500px",
            renderingConfig: {
                codeSyntaxHighlighting: true,
            },
        });

        // Initialize data
        const initData = (data) => {
            $("#title").val(data.title);
            easyMDE.value(data.content);
            $("#description").html(data.description);
            $("#status").val(data.status ? 1 : 0);
            $("#category").val(data.categories.map((c) => c.id)).trigger("change");
            $("#thumbnail").attr("src", data.thumbnail);
        };

        console.log(blog);
        initData(blog);
    </script>

    <script th:inline="javascript">
        // xóa blog theo id
        const deleteBlog = id => {
            const isConfirm = window.confirm("Bạn có muốn xóa không");
            if (isConfirm) {
                fetch(`/api/v1/admin/blogs/${id}`, {
                    method: "DELETE"
                })
                    .then((res) => {
                        if (res.status === 200) {
                            // window.confirm("Xóa thành công");
                            window.location.href = "/admin/blogs/own-blogs";
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        }

        // cập nhật blog
        const updateBlog = id => {
            let newBlog = {}
            newBlog.title = $("#title").val()
            newBlog.description = $("#description").val();
            newBlog.content = easyMDE.value();
            newBlog.thumbnail = $("#thumbnail").attr("src");
            newBlog.status = $('#status').val() == 1 ? true : false;
            newBlog.categoryIds = $('#category').val();
            console.log(newBlog)// đôi tượng update

            // gọi api

            fetch(`/api/v1/admin/blogs/${id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(newBlog)
            })
                .then((res) => {
                    if (res.status === 200) {
                        document.getElementById("newTitle").innerText = newBlog.title;
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        }


    </script>
</th:block>

</body>

</html>